@import 
url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    max-width: 370px;
    margin: 0 auto;
    
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    border-radius: 3.5%;
}
.card img{
    width: 100%;
    border-radius: 3.5%;
}
.text h2{
        color: hsl(218, 44%, 22%);
        text-align: center;
        padding: 15px;
}
.text p{
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding: 5px;
    margin-bottom: 22px;
}